<title>My application deployed automatically</title>
<h1>Hello, World!</h1>

<br>

This program takes two arrays. Searches second array in first array. Returns it's index if found. Else returns -1.
<br><br>
First box must contain an integer array(e.g:[1,2,3,4,5] note that elements must be separated by newline character)
<br>
Second box must contain an integer array(e.g:[2,3] note that elements must be separated by newline character)
<br>
First array must be bigger than or equal to second array.
<br>
Third box must contain an integer. It will be used for giving a lower bound to lengths of arrays(e.g:0) 
<br>
Fourth box must contain an integer. It will be used for giving an upper bound to length of arrays(e.g:6) 
<br>
<br>

Result is {{result}}
<form action="compute" method="post">
	<textarea name="input1" rows="10" cols="30"></textarea>
	<textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input3" rows="10" cols="30"></textarea>
	<textarea name="input4" rows="10" cols="30"></textarea>
	<br>
	<input type="submit">
</form>

